body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding:0;
    text-align: center;
    background: #F4F4F4;
}
#hero-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #6943FF;
    height: 300px;
    padding-top: 20px;
    gap: 20px;
    color: #ffff;
}
#unit{
    background: none;
    border: 3px solid #B295FF;
    border-radius: 5%;
    color: #ffff;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    width: 117px;
    height: 83px;
}
#unitBtn{
    font-size: 20px;
    width: 130px;
    height: 42px;
    background: #ffff;
    border: none;
    border-radius: 5%;
}

#conversion-section{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.unit-conversion{
    background: white;
    width: 500px;
    height: 110px;
    padding-top: 25px;
    
}
.Conversion{
    color: #5A537B;
    font-size: 23px;
    font-weight: 600;
}



